<div class="bg-slate-500 text-white">
    <div class="flex items-center">
        <div>
            <img (click)="goToHomePage()" class="w-[8em] h-[5em]" [src]="logo" alt="">
        </div>
        <div class="ml-[8em]">
            <form>
                <div>
                    <input class="p-1 rounded-[0.2em]" type="text" placeholder="Search">
                    <button class="bg-black p-1 rounded-[0.4em] ml-[0.2em]">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>